.curve-div-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: -1;
  overflow: hidden;
  position: fixed;
}
.curve-div-1 {
  position: absolute;
  bottom: 0;
  left: 30%;
  height: 100vh;
  width: 50%;
  border-right: 5px red solid;
  border-radius: 100%;
}
.curve-div-2 {
  position: absolute;
  bottom: 0;
  left: 30%;
  height: 100vh;
  width: 40%;
  border-right: 5px blue solid;
  border-radius: 100%;
}
.curve-div-3 {
  position: absolute;
  bottom: 0;
  left: 30%;
  height: 100vh;
  width: 30%;
  border-right: 5px purple solid;
  border-radius: 100%;
}
.back-curve-div-1 {
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 0;
  height: 50vh;
  width: 50%;
  border-left: 5px red solid;
  border-top: 5px red solid;
  border-radius: 50%;
}
.back-curve-div-2 {
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 0;
  height: 70vh;
  width: 50%;
  border-left: 5px blue solid;
  border-top: 5px blue solid;
  border-radius: 50%;
}
.back-curve-div-3 {
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 0;
  height: 90vh;
  width: 50%;
  border-left: 5px purple solid;
  border-top: 5px purple solid;
  border-radius: 50%;
}