.registration-form {
  height: 90vh;
  width: 100%;
}
.registration-form-modal {
  width: 80%;
  background-color: rgb(0, 0, 0, 0.3);
}

@media (width > 576px) {
  .registration-form-modal {
    width: 50%;
    background-color: rgb(0, 0, 0, 0.3);
  }
}

@media (width > 768px) {
  .registration-form-modal {
    width: 25%;
    background-color: rgb(0, 0, 0, 0.3);
  }
}
