.nav-router-link {
  text-decoration: none;
  color: currentColor;
}
.nav-router-link:hover {
  color: currentColor;
}
.main-logo-label {
  font-family: Centaur;
  font-weight: bold;
  font-size: 50px;
  color: aliceblue;
}