.nav-router-link {
  cursor: pointer;
  text-decoration: none;
  color: aliceblue;
}
.nav-router-link:hover {
  color: #cbdcea;
}
.main-logo-label {
  font-family: Centaur;
  font-weight: bold;
  font-size: 50px;
  color: aliceblue;
}
